.div{
    height: 300px;
    width: 300px;
    background-color: orchid;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    /* cubic beizer curve */

}

.div:hover{
    height: 300px;
    width:300px;
    border-radius: 50%;
    background-color: orange;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}