@media only screen and (min-width:468px){
    /* This means 468px and above */
    .col{
        float: left;
    }
    .main{
        width: 65%;
    }
    .secondary{
        width: 32%;
        margin-left: 2%;
    }
    .extra{
        display: block;
        width: 99%;
    }
    .content::after{
        display: table;
        content: "";
        clear: both;
    }
}

@media only screen and (min-width:769px){
/* this means 769 and above */
    .logo{
        float:left;
    }   

    .main-nav{
        float:right;
    }
    .main-header::after{
        display: table;
        content: "";
        clear: both;
    }
    .col{
        display: inline;
    }
    .main{
        display: 99.9%;

    }
    .secondary,
    .extra{
        width:40%;
    }
    .extra{
        margin-left:5%
    }


}